
   
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Madimi+One&family=Pacifico&family=Sriracha&display=swap');
    .tai-lebel{
      font-family: "Sriracha", cursive;
    }
    
    .pacifico-sambung {
      font-family: "Pacifico", cursive;
    }
    
    .madimi-tebel {
      font-family: "Madimi One", sans-serif;
    }
    
    .anta-robot {
      font-family: "Anta", sans-serif;
    }
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body{
      background:#a569ffeb;
    }
    nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #a366ffeb;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 20px;
  color:white;
  letter-spacing: 3px;
}

.text {
  display: flex;
  align-items: center;
}

.text h2 {
  margin-right: 10px;
}

.foto img {
  width: 40px;
  height: 40px;
  border-radius: 50%; 
}
.nama{
  padding: 40px;
  color: white;
  font-weight: bold;
}
.bontot {
  color: #eee;
  letter-spacing: 4px;
  text-shadow: 
    0 0 10px #eee,
    0 0 20px #eee,
    0 0 30px #eee;
}
.bawah{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 20px;
}
.tentang{
  position: relative;
  background:rgba(255,255,255,0.2);
  backdrop-filter: filter(10px);
  padding: 20px;
  width: 100%;
  border-radius: 15px;
  color: white;
}
.tentang .jud{
  color: white;
  margin-bottom: 9px;
}
.fot-bar{
  display: flex;
  margin-top: 10px;
}
.fot-bar span{
  cursor: pointer;
  transition: all 0.5s ease;
}
.fot-bar span:hover{
  transform: scale(1.5);
  color: yellow;
}
.what{
 position: absolute;
 bottom: 1;
 right: 0;
 margin:10px;
}
.what i {
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.what i:hover {
  transform: scale(1.1);
  color: #07c507;
}
.me{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: white;
  background: #b584ffeb;
  border-radius: 20px;
}
.git{
  cursor: pointer;
  transition: all 0.5s ease;
}
.git:hover{
  transform: translateY(-8px);
}
.bok{
  display: flex;
  margin:20px auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.umur{
  flex: 1 0 200px;
  padding:70px;
  background: #b584ffeb;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 30px;
  font-size: 35px;
}
.sekolah {
  background: #b584ffeb;
  border-radius: 30px;
  width: 200px; 
  height: 100px; 
  text-align: center;
  padding: 30px;
  color: white;
  margin: 10px;
  
}
.IQ{
  background: #b584ffeb;
  border-radius: 30px;
  width: 200px; 
  height: 100px; 
  text-align: center;
  padding: 30px;
  margin: 10px;
  color: white;
}

 .ketik-container {
  position: relative;
}

.cursor {
  position: absolute;
  left: 0;
  bottom: 0.2em;
  width: 0.2em;
  height: 1em;
  background-color: white;
  animation: blink 0.7s infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
